<div class="container">
  <h1 class="event-title" fitText [text]="'Time to ' + eventTitle">
    Time to {{ eventTitle }}
  </h1>
  <div class="countdown-text" fitText [text]="countdown">{{ countdown }}</div>

  <form class="form">
    <fieldset class="form-field">
      <legend>Title</legend>
      <input
        type="text"
        [ngModel]="eventTitle"
        (ngModelChange)="onTitleChange($event)"
        name="eventTitle"
        placeholder="Enter event title"
      />
    </fieldset>

    <fieldset class="form-field">
      <legend>Date</legend>
      <input
        type="date"
        class="no-icon-date"
        [ngModel]="eventDateString"
        (ngModelChange)="onDateChange($event)"
        name="eventDate"
      />
    </fieldset>
  </form>
</div>
