<div class="container">
 <h1 class="event-title" fitText #titleRef>Time to {{ eventTitle }}</h1>
<div class="countdown-text" fitText #countdownRef>{{ countdown }}</div>

  <form class="form">
    <fieldset class="form-field">
      <legend>Title</legend>
      <input
      type="text"
      [(ngModel)]="eventTitle"
      name="eventTitle"
      (ngModelChange)="recalculateText()"
    />
    </fieldset>

    <fieldset class="form-field">
      <legend>Date</legend>
      <input
      type="date"
      [(ngModel)]="eventDateString"
      name="eventDate"
      (ngModelChange)="recalculateText()"
    />
    </fieldset>
  </form>
</div>



